.app-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 100vh; */
  justify-content: space-around;
  align-content: center;
  /* margin-top: 1rem; */
}

.app {
  /* margin-top: 0; */
  max-width: 700px;
  /* margin-bottom: 1rem; */
  box-shadow: rgba(120, 9, 131, 2) 0 54px 55px,
    rgba(126, 16, 126, 0.12) 0 -12px 30px, rgba(218, 15, 236, 0.12) 0 4px 6px,
    rgba(71, 7, 80, 2) 0 12px 13px, rgba(73, 4, 70, 0.09) 0 -3px 5px;
}
