.app-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  align-content: center;
}

.app {
  max-width: 700px;
  margin-bottom: 4rem;
  box-shadow: rgba(116, 7, 131, 0.25) 0 54px 55px, rgba(126, 16, 126, 0.12) 0 -12px 30px,
    rgba(218, 15, 236, 0.12) 0 4px 6px, rgba(71, 7, 80, 0.17) 0 12px 13px,
    rgba(73, 4, 70, 0.09) 0 -3px 5px;
}
